<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimal-ui"/>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon-32x32.png"/>
	<link rel="preload" href="/css/index.css" as="style"/>
	<link rel="stylesheet" type="text/css" href="/css/index.css" />
	<title>Поправки КПРФ</title>
	<script>document.documentElement.classList.remove("no-js");</script>
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header">
				<div class="card-header-text text-center">Спасибо, что отдали свой голос!</div>
			</div>
			<div class="card-body text-center"><a href="/result">Посмотреть результаты</a></div>
		</div>		
	</div>
</body>
</html>